   build --cxxopt="-std=c++17"
   #build --cxxopt="-O2"
   build --cxxopt="-O3"
   build --cxxopt="-DLARGEBOARDS"
   build --cxxopt="-DPRECOMPUTED_MAGICS"
   build --cxxopt="-DALLVARS"
   build --cxxopt="-fPIE"
   build --cxxopt="-DUSE_PTHREADS"
   build --cxxopt="-DUSE_SSE41"
  
   build:nativeopt --copt="-g"